select{
    width: 200px;
    height: 30px;
}
.table-icon{
    font-size: 14px;
    font-weight: bold;
}
.hide{
    display: none !important;
}
.pointer{
    cursor: pointer !important;
}
#drop_databases_menu{
    color: #007bff !important;
}
.table-ground{
    width: 100%;
    max-height: 884px;
    overflow: auto;
}
.search_row{
    border: 1px solid #d0c6c6;
    padding: 14px;
}
