<div class="row mt-4 p-4">
    <h4 class="col-md-12 bg-warning p-2">
        {% if create == 'table' %} Create {% elif create == 'alter_table' %} Alter {% endif %} Table
    </h4>
    <form name="create_table" method="POST" action="/create_table">
        <div class="col-md-12 mt-4">
            <label>Table Name: </label>
            <input type="hidden" name="database" value="{{selected_db}}">
            <input type="text" name="table_name" value="{{selected_table}}" required>
            <select name="engine" required>
                {% for engine in db_engines %}
                <option value="{{engine['ENGINE']}}" {% if engine['SUPPORT'] == 'DEFAULT' %} selected {% endif %}>
                {{engine['ENGINE']}}
                </option>
                {% endfor %}
            </select>
            <select name="table_collation">
                <option value="('utf8','utf8_general_ci')">(collation)</option>
                {% for key, collations in db_collations.items() %}
                <optgroup label="{{key}}">
                    {{key}}
                    {% for collation in collations %}
                    <option value="{{key,collation['COLLATION_NAME']}}">{{collation['COLLATION_NAME']}}</option>
                    {% endfor %}
                </optgroup>
                {% endfor %}
            </select>
            <button class="btn btn-primary btn-sm ml-4" name="save_table" id="save_table" type="button">Save</button>
        </div>
        <div class="col-md-12 mt-2">
            <table class="table table-bordered table_columns">
                <thead>
                <tr>
                    <th>Column Name</th>
                    <th>Type</th>
                    <th>Length</th>
                    <th>Options</th>
                    <th>Null</th>
                    <th>AI</th>
                    <th>Default Value</th>
                    <th></th>
                </tr>
                </thead>
                <tbody>
                {% if table_structure %}
                {% for structure in table_structure %}
                <tr>
                    <td>
                        <input type="text" name="column_name" value="{{structure['COLUMN_NAME']}}" required>
                    </td>
                    <td>
                        <select name="column_type" class="type" aria-labelledby="label-type">
                            <optgroup label="Numbers">
                                <option {% if structure['COLUMN_TYPE']=='tinyint' %} selected {% endif %}>tinyint</option>
                                <option {% if structure['COLUMN_TYPE']=='smallint' %} selected {% endif %}>smallint</option>
                                <option {% if structure['COLUMN_TYPE']=='mediumint' %} selected {% endif %}>mediumint</option>
                                <option {% if structure['COLUMN_TYPE']=='selected="">int' %} selected {% endif %} selected="">int</option>
                                <option {% if structure['COLUMN_TYPE']=='bigint' %} selected {% endif %}>bigint</option>
                                <option {% if structure['COLUMN_TYPE']=='decimal' %} selected {% endif %}>decimal</option>
                                <option {% if structure['COLUMN_TYPE']=='float' %} selected {% endif %}>float</option>
                                <option {% if structure['COLUMN_TYPE']=='double' %} selected {% endif %}>double</option>
                            </optgroup>
                            <optgroup label="Date and time">
                                <option {% if structure['COLUMN_TYPE']=='date' %} selected {% endif %}>date</option>
                                <option {% if structure['COLUMN_TYPE']=='datetime' %} selected {% endif %}>datetime</option>
                                <option {% if structure['COLUMN_TYPE']=='timestamp' %} selected {% endif %}>timestamp</option>
                                <option {% if structure['COLUMN_TYPE']=='time' %} selected {% endif %}>time</option>
                                <option {% if structure['COLUMN_TYPE']=='year' %} selected {% endif %}>year</option>
                            </optgroup>
                            <optgroup label="Strings">
                                <option {% if structure['COLUMN_TYPE']=='char' %} selected {% endif %}>char</option>
                                <option {% if structure['COLUMN_TYPE']=='varchar' %} selected {% endif %}>varchar</option>
                                <option {% if structure['COLUMN_TYPE']=='tinytext' %} selected {% endif %}>tinytext</option>
                                <option {% if structure['COLUMN_TYPE']=='text' %} selected {% endif %}>text</option>
                                <option {% if structure['COLUMN_TYPE']=='mediumtext' %} selected {% endif %}>mediumtext</option>
                                <option {% if structure['COLUMN_TYPE']=='longtext' %} selected {% endif %}>longtext</option>
                                <option {% if structure['COLUMN_TYPE']=='json' %} selected {% endif %}>json</option>
                            </optgroup>
                            <optgroup label="Lists">
                                <option {% if structure['COLUMN_TYPE']=='enum' %} selected {% endif %}>enum</option>
                                <option {% if structure['COLUMN_TYPE']=='set' %} selected {% endif %}>set</option>
                            </optgroup>
                            <optgroup label="Binary">
                                <option {% if structure['COLUMN_TYPE']=='bit' %} selected {% endif %}>bit</option>
                                <option {% if structure['COLUMN_TYPE']=='binary' %} selected {% endif %}>binary</option>
                                <option {% if structure['COLUMN_TYPE']=='varbinary' %} selected {% endif %}>varbinary</option>
                                <option {% if structure['COLUMN_TYPE']=='tinyblob' %} selected {% endif %}>tinyblob</option>
                                <option {% if structure['COLUMN_TYPE']=='blob' %} selected {% endif %}>blob</option>
                                <option {% if structure['COLUMN_TYPE']=='mediumblob' %} selected {% endif %}>mediumblob</option>
                                <option {% if structure['COLUMN_TYPE']=='longblob' %} selected {% endif %}>longblob</option>
                            </optgroup>
                            <optgroup label="Geometry">
                                <option {% if structure['COLUMN_TYPE']=='geometry' %} selected {% endif %}>geometry</option>
                                <option {% if structure['COLUMN_TYPE']=='point' %} selected {% endif %}>point</option>
                                <option {% if structure['COLUMN_TYPE']=='linestring' %} selected {% endif %}>linestring</option>
                                <option {% if structure['COLUMN_TYPE']=='polygon' %} selected {% endif %}>polygon</option>
                                <option {% if structure['COLUMN_TYPE']=='multipoint' %} selected {% endif %}>multipoint</option>
                                <option {% if structure['COLUMN_TYPE']=='multilinestring' %} selected {% endif %}>multilinestring</option>
                                <option {% if structure['COLUMN_TYPE']=='multipolygon' %} selected {% endif %}>multipolygon</option>
                                <option {% if structure['COLUMN_TYPE']=='geometrycollection' %} selected {% endif %}>geometrycollection</option>
                            </optgroup>
                        </select>
                    </td>
                    <td>
                        <input type="text" name="length">
                    </td>
                    <td>
                        <select name="column_option" class="options col_option">
                            <option>unsigned</option>
                            <option>zerofill</option>
                            <option>unsigned zerofill</option>
                        </select>
                        <select name="column_collation" class="options col_collation">
                            <option value="('utf8_general_ci','utf8')">(collation)</option>
                            {% for key, collations in db_collations.items() %}
                            <optgroup label="{{key}}">
                                {{key}}
                                {% for collation in collations %}
                                <option value="{{collation['COLLATION_NAME'],key}}">
                                    {{collation['COLLATION_NAME']}}
                                </option>
                                {% endfor %}
                            </optgroup>
                            {% endfor %}
                        </select>
                        <select name="column_on_update" class="options col_on_update">
                            <option value="" selected="">(ON UPDATE)</option>
                            <option>CURRENT_TIMESTAMP</option>
                        </select>
                    </td>
                    <td>
                        <input type="checkbox" name="column_null" {% if structure['IS_NULLABLE']=='YES' %} checked {% endif %}>
                    </td>
                    <td>
                        <input type="radio" name="column_ai" {% if structure['EXTRA']=="auto_increment" %} checked {% endif %}>
                    </td>
                    <td>
                        <input type="checkbox" name="column_is_default" {% if structure['COLUMN_DEFAULT'] %} checked {% endif %}>
                        <input type="text" name="column_default_value" value="{{structure['COLUMN_DEFAULT'] or ''}}">
                    </td>
                    <td>
                        <em class="fa fa-plus"></em>
                        <em class="fa fa-arrow-up"></em>
                        <em class="fa fa-arrow-down"></em>
                        <em class="fa fa-times"></em>
                    </td>
                </tr>
                {% endfor %}
                {% else %}
                <tr>
                    <td>
                        <input type="text" name="column_name" required>
                    </td>
                    <td>
                        <select name="column_type" class="type" aria-labelledby="label-type">
                            <optgroup label="Numbers">
                                <option>tinyint</option>
                                <option>smallint</option>
                                <option>mediumint</option>
                                <option selected="">int</option>
                                <option>bigint</option>
                                <option>decimal</option>
                                <option>float</option>
                                <option>double</option>
                            </optgroup>
                            <optgroup label="Date and time">
                                <option>date</option>
                                <option>datetime</option>
                                <option>timestamp</option>
                                <option>time</option>
                                <option>year</option>
                            </optgroup>
                            <optgroup label="Strings">
                                <option>char</option>
                                <option>varchar</option>
                                <option>tinytext</option>
                                <option>text</option>
                                <option>mediumtext</option>
                                <option>longtext</option>
                                <option>json</option>
                            </optgroup>
                            <optgroup label="Lists">
                                <option>enum</option>
                                <option>set</option>
                            </optgroup>
                            <optgroup label="Binary">
                                <option>bit</option>
                                <option>binary</option>
                                <option>varbinary</option>
                                <option>tinyblob</option>
                                <option>blob</option>
                                <option>mediumblob</option>
                                <option>longblob</option>
                            </optgroup>
                            <optgroup label="Geometry">
                                <option>geometry</option>
                                <option>point</option>
                                <option>linestring</option>
                                <option>polygon</option>
                                <option>multipoint</option>
                                <option>multilinestring</option>
                                <option>multipolygon</option>
                                <option>geometrycollection</option>
                            </optgroup>
                        </select>
                    </td>
                    <td>
                        <input type="text" name="length">
                    </td>
                    <td>
                        <select name="column_option" class="options col_option">
                            <option>unsigned</option>
                            <option>zerofill</option>
                            <option>unsigned zerofill</option>
                        </select>
                        <select name="column_collation" class="options col_collation">
                            <option value="('utf8_general_ci','utf8')">(collation)</option>
                            {% for key, collations in db_collations.items() %}
                            <optgroup label="{{key}}">
                                {{key}}
                                {% for collation in collations %}
                                <option value="{{collation['COLLATION_NAME'],key}}">
                                    {{collation['COLLATION_NAME']}}
                                </option>
                                {% endfor %}
                            </optgroup>
                            {% endfor %}
                        </select>
                        <select name="column_on_update" class="options col_on_update">
                            <option value="" selected="">(ON UPDATE)</option>
                            <option>CURRENT_TIMESTAMP</option>
                        </select>
                    </td>
                    <td>
                        <input type="checkbox" name="column_null">
                    </td>
                    <td>
                        <input type="radio" name="column_ai">
                    </td>
                    <td>
                        <input type="checkbox" name="column_is_default">
                        <input type="text" name="column_default_value">
                    </td>
                    <td>
                        <em class="fa fa-plus"></em>
                        <em class="fa fa-arrow-up"></em>
                        <em class="fa fa-arrow-down"></em>
                        <em class="fa fa-times"></em>
                    </td>
                </tr>
                {% endif %}
                </tbody>
            </table>
        </div>
        <textarea class="hide" name="create_table_query" id="create_table_query"></textarea>
    </form>
</div>
<script type="text/javascript">
    $(document).ready(function () {
        $('.col_collation').hide();
        $('.col_on_update').hide();
        $(document).on('click', '.fa-plus', function () {
            let html = $(this).closest('tr').clone();
            //setting default values
            $(html).find('input').val('');
            $(html).find('.type').val('int').change();
            $(html).find('.options').hide();
            $(html).find('.col_option').show();
            $(html).find('input:checkbox').prop('checked',false);
            $(html).find('input:radio').prop('checked',false);
            $(this).closest('tbody').append(html);
        });

        $(document).on('click', '.fa-times', function () {
            $(this).closest('tr').remove();
        });

        $(document).on('change','.type',function (){
            $(this).closest('tr').find('.options').hide();
            let selected_option = $(this).val();
            let label = $(this.options[this.selectedIndex]).closest('optgroup').prop('label');
            if(label==='Numbers'){
                $(this).closest('tr').find('.col_option').show();
            }else if(selected_option=='datetime' || selected_option=='timestamp'){
                $(this).closest('tr').find('.col_on_update').show();
            }else if(label=='Strings'){
                $(this).closest('tr').find('.col_collation').show();
            }
        });

        $(document).on('click','#save_table',function (){
            let database = $('input[name="database"]').val();
            let table_name = $('input[name="table_name"]').val();
            let table_collation = $('select[name="table_collation"]').val();
            table_collation = table_collation.replaceAll("'","").replace("(","").replace(")","").split(",");
            let engine = $('select[name="engine"]').val();
            let columns = '';
            let column_length = '';
            let column_null = '';
            let primary_key = '';
            let column_name = '';
            $('.table_columns tr').each(function (){
                primary_key = '';
                column_name = $(this).find('input[name="column_name"]').val();
                if(column_name!=='' && column_name!==undefined) {
                    columns += column_name
                        + ' '
                        + $(this).find('select[name="column_type"]').val();
                    //for column length
                    column_length = $(this).find('input[name="length"]').val();
                    if (column_length !== '') {
                        columns += ' (' + column_length + ') ';
                    }
                    // for column null
                    column_null = ' NOT NULL ';
                    if ($(this).find('input[name="column_null"]').is(':checked')) {
                        column_null = ' NULL ';
                    }
                    columns += column_null;
                    // for column auto increment
                    if ($(this).find('input[name="column_ai"]').is(':checked')) {
                        columns += ' AUTO_INCREMENT ';
                        primary_key += ' PRIMARY KEY ';
                    }
                    // for column default value
                    if ($(this).find('input[name="column_is_default"]').is(':checked')) {
                        columns += ' DEFAULT ' + $(this).find('input[name = "column_default_value"]').val();
                    }
                    // for primary key
                    columns += primary_key + ',';
                }
            });
            //removing last comma in columns string
            columns = columns.slice(0,-1);
            let query = 'CREATE TABLE '+table_name+'('+columns+') CHARACTER SET '+table_collation[0]+' COLLATE '+table_collation[1]+' ENGINE = '+engine+';';
            $('#create_table_query').val(query);
            $(this).closest('form').submit();
        });
    });
</script>
