<div class="row bg-warning">
    <div class="col-md-2"><h3>PyAdminer<sub>0.1</sub></h3></div>
    <!--options starts here-->
    <div class="col-md-8">
        {% if not login %}
        <h3>Login</h3>
        {% elif tables %}
        {% if selected_table %}
            <h3>Table : {{selected_table}}</h3>
            <input type="hidden" id="selected_table_name" name="selected_table_name" value="{{selected_table}}">
        {% else %}
            <h3>Tables</h3>
        {% endif %}
        {% elif databases %}
        <h3>Databases</h3>
        {% endif %}
    </div>
    <div class="col-md-2 p-2">
        {% if login %}
        <strong><a href="/logout">Logout</a></strong>
        {% endif %}
    </div>
    <!-- options ends here-->
</div>
