<div class="row mt-2 mb-2">
    <form name="select_query" method="POST" action="#">
        <div class="col-md-12">
        <div class="search_row">
        {% if search_value|length %}
        {% for i in range(search_value|length) %}
        <div class="row pysearch">
            <div class="col-md-3">
                <label>Search</label>
                <select class="tbs-field form-control" name="search_by[]">
                    {% for column in table_columns %}
                        <option value="{{column['COLUMN_NAME']}}"
                                {% if search_by[i] == column['COLUMN_NAME'] %} selected {% endif %}>
                            {{column['COLUMN_NAME']}}
                        </option>
                    {% endfor %}
                </select>
            </div>
            <div class="col-md-3">
                <label>Ex</label>
                <select class="tbs-field form-control" name="expression[]">
                    <option {% if expression[i]== "=" %} selected {% endif %}>
                        =
                    </option>
                    <option {% if expression[i]== "<" %} selected {% endif %}>
                        &lt;
                    </option>
                    <option {% if expression[i]== ">" %} selected {% endif %}>
                        &gt;
                    </option>
                    <option {% if expression[i]== "<=" %} selected {% endif %}>
                        &lt;=
                    </option>
                    <option {% if expression[i]== ">=" %} selected {% endif %}>
                        &gt;=
                    </option>
                    <option {% if expression[i]== "!=" %} selected {% endif %}>
                        !=
                    </option>
                    <option {% if expression[i]== "LIKE" %} selected {% endif %}>
                        LIKE
                    </option>
                    <option {% if expression[i]== "LIKE %%" %} selected {% endif %}>
                        LIKE %%
                    </option>
                    <option {% if expression[i]== "REGEXP" %} selected {% endif %}>
                        REGEXP
                    </option>
                    <option {% if expression[i]== "IN" %} selected {% endif %}>
                        IN
                    </option>
                    <option {% if expression[i]== "FIND_IN_SET" %} selected {% endif %}>
                        FIND_IN_SET
                    </option>
                    <option {% if expression[i]== "IS NULL" %} selected {% endif %}>
                        IS NULL
                    </option>
                    <option {% if expression[i]== "NOT LIKE" %} selected {% endif %}>
                        NOT LIKE
                    </option>
                    <option {% if expression[i]== "NOT REGEXP" %} selected {% endif %}>
                        NOT REGEXP
                    </option>
                    <option {% if expression[i]== "NOT IN" %} selected {% endif %}>
                        NOT IN
                    </option>
                    <option {% if expression[i]== "IS NOT NULL" %} selected {% endif %}>
                        IS NOT NULL
                    </option>
                    <option {% if expression[i]== "SQL" %} selected {% endif %}>
                        SQL
                    </option>
                </select>
            </div>
            <div class="col-md-3">
                <label>Value</label>
                <input type="text" name="search_value[]" class="tbs-field form-control" value="{{ search_value[i] }}">
            </div>
            <div class="col-md-1 mt-4">
                <span class="fa fa-plus add_another_search" title="Add another Search"></span>
            </div>
        </div>
        {% endfor %}
        {% else %}
        <div class="row pysearch">
            <div class="col-md-3">
                <label>Search</label>
                <select class="tbs-field form-control" name="search_by[]">
                    {% for column in table_columns %}
                        <option value="{{column['COLUMN_NAME']}}">
                            {{column['COLUMN_NAME']}}
                        </option>
                    {% endfor %}
                </select>
            </div>
            <div class="col-md-3">
                <label>Ex</label>
                <select class="tbs-field form-control" name="expression[]">
                    <option>=</option>
                    <option>&lt;</option>
                    <option>&gt;</option>
                    <option>&lt;=</option>
                    <option>&gt;=</option>
                    <option>!=</option>
                    <option>LIKE</option>
                    <option>LIKE %%</option>
                    <option>REGEXP</option>
                    <option>IN</option>
                    <option>FIND_IN_SET</option>
                    <option>IS NULL</option>
                    <option>NOT LIKE</option>
                    <option>NOT REGEXP</option>
                    <option>NOT IN</option>
                    <option>IS NOT NULL</option>
                    <option>SQL</option>
                </select>
            </div>
            <div class="col-md-3">
                <label>Value</label>
                <input type="text" name="search_value[]" class="tbs-field-value form-control" value="">
            </div>
            <div class="col-md-1 mt-4">
                <span class="fa fa-plus add_another_search" title="Add another Search"></span>
            </div>
        </div>
        {% endif %}
        </div>
        <div class="row">
            <div class="col-md-3">
                <label>Order By</label>
                <select class="form-control" name="order_by">
                    {% for column in table_columns %}
                        <option value="{{column['COLUMN_NAME']}}"
                                {% if order_by == column['COLUMN_NAME'] %} selected {% endif %}>
                            {{column['COLUMN_NAME']}}
                        </option>
                    {% endfor %}
                </select>
            </div>
            <div class="col-md-3">
                <label style="color:#fff">Order</label>
                <select class="form-control" name="order">
                    <option value="asc" {% if order == "asc" %} selected {% endif %}>asc</option>
                    <option value="desc" {% if order == "desc" %} selected {% endif %}>desc</option>
                </select>
            </div>
            <div class="col-md-3">
                <label>Limit</label>
                <input type="number" name="limit" class="form-control" value="{{limit}}">
            </div>
            <div class="col-md-3 pt-4 mt-2">
                <label style="color:#fff">Action</label>
                <button type="submit" class="btn btn-primary" name="filter_query">Select</button>
            </div>
            </div>
        </div>
    </form>
</div>
<div class="row mt-1 mb-1">
    <div class="col-md-12 p-2 bg-light">
        <p>{{data_query or ''}}</p>
    </div>
</div>

<table class="table table-bordered mt-4 datatable">
    <thead>
        <tr>
            <th>Action</th>
            {% for column in table_columns %}
            <th>
                {{column['COLUMN_NAME']}}
            </th>
            {% endfor %}
        </tr>
    </thead>
    {% for data in table_data %}
        <tr>
            <td>
                <em class="fa fa-edit pointer edit_row" title="Edit Row"></em>
                <em class="fa fa-trash pointer delete_row" title="Delete Row" id="{{ data['id'] }}"></em>
            </td>
            {% for column in table_columns %}
            <td column_name="{{column['COLUMN_NAME']}}">
                {{data[column['COLUMN_NAME']]}}
            </td>
            {% endfor %}
        </tr>
    {% endfor %}
</table>
{% include 'edit_row.html' %}
<script type="text/javascript">
    $(document).ready(function(){
       $(document).on('click', '.delete_row', function (){
          let id = $(this).attr("id");
          let table_name = $('#selected_table_name').val();
          let database = "{{ selected_db }}";
          if (confirm("Are you sure to delete this row?")) {
              let xhr = new XMLHttpRequest();
              xhr.open("POST", "/delete_table_row_by_id", true);
              xhr.setRequestHeader('Content-Type', 'application/json');
              xhr.send(JSON.stringify({"table_name": table_name, "id": id, "database": database}));
              $(this).closest('tr').remove();
          }
       });
    });
</script>
