<div class="row mt-4 mb-4">
    <span class="col-md-1">
        <a href="?database={{selected_db}}&table={{selected_table}}">
            Structure
        </a>
    </span>
    <span class="col-md-1">
        <a href="?database={{selected_db}}&table={{selected_table}}&action=data">
            Data
        </a>
    </span>
    <span class="col-md-1">
        <a href="?database={{selected_db}}&table={{selected_table}}&action=alter">
            Alter
        </a>
    </span>
    <span class="col-md-1">New Item</span>
    <span class="col-md-1">
         <a href="?create=table&database={{selected_db}}">
            New Table
         </a>
    </span>
</div>
